Source: com.github.allen-b1.news
Section: x11
Priority: extra
Maintainer: Allen B <nonexistant@example.com>
Build-Depends: make (>= 2.8),
               debhelper,
               valac,
               libgranite-dev,
               libgtk-3-dev
Standards-Version: 3.9.3

Package: com.github.allen-b1.news
Architecture: any
Depends: libgtk-3-dev, valac, libwebkit2gtk-4.0-dev, libgranite-dev, ${misc:Depends}, ${shlibs:Depends}
Description: News
 This is a news viewer written in Vala using CMake build system.
