[Desktop Entry]
Name=News
GenericName=News
Comment=Read RSS feeds
Categories=Network;Feed;News;
Keywords=RSS;Feed;News;
Exec=com.github.allen-b1.news %U
Icon=com.github.allen-b1.news
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.allen-b1.news
MimeType=application/rss+xml;application/rdf+xml;application/atom+xml;
