[Desktop Entry]
Name=News
GenericName=News
Comment=Browse the news
Categories=Network;Feed;News;
Keywords=RSS;Feed;News;
Exec=com.github.allen-b1.news
Icon=com.github.allen-b1.news
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.allen-b1.news
Keywords=News;

